:root {
  --colorBody: #c1beba;
  --red: #ff0000;
  --hoverRed: #660000;
  --green: #008000;
  --hoverGreen: #015701;
  --blackShadow: #00000048;
  --cor1: #fdfefe;
  --cor2: #003088;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

body {
  background-color: var(--colorBody);
}

h1 {
  text-align: center;
  margin: 1rem 0;
}